#home{
    display: flex;
    min-height: calc(100vh - 213px);
    position: relative;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: rgb(76, 76, 202);
}

#cta .descripton {
    font-size: 1.3rem;
    margin-top: 20%;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
    padding-left: 10px 20%;
}

.shape{
    background-color: rgb(136, 136, 219);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

#home2{
    display: flex;
    min-height: calc(100vh - 213px);
    position: relative;
    margin-top: 17%;
    gap: 18%;
}

#cta2{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15%;
}


#sobre{
    display: flex;
    min-height: calc(100vh - 213px);
    position: relative;
    margin-top: 5%;
    gap: 10%;
}

#cta3{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#sobre2{
    display: flex;
    min-height: calc(100vh - 213px);
    position: relative;
    gap: 10%;
}

#cta4{
    width: 44%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 15%;
}

#cta5{
    margin-top: 14%;
    width: 45%;
}

#cta6 .title{
    margin-top: 10%;
}
#cta5 .title span{
    color: floralwhite;
    font-size: 4.5rem;
}
#banner5{
    margin-top: 1%;
}

#cta6{
    padding-left: 31%;
}

#carrossel{
    background-color: #ffffff;
    display: flex;
    gap: 5%;
    min-height: calc(100vh - 213px);
    margin-top: 10%;
    padding-left: 0%;
}

.text{
    padding-left: 24%;
}

.price{
    font-size: 1.9rem;
    padding-left: 10%;
}

.plan{
    background-color: #f4f2f2;
    width: 500px;
    height: 520px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.plan button{
    background-color: #1d56e8;
    height: 35px;
    width: 85%;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1.2rem;
}

.card{
    padding-left: 19%;
    margin-top: 8%;
}

#cta7{
    padding-left: 28%;
}

#banner6{
    padding-right: 8%;
}
#terminal{
    display: flex;
    margin-top: 15%;
}

#cta8{
    margin-top: 15%;
    width: 45%;
}
.conteiner{
    display: flex;
    color: #ffffff;
    padding-left: 10%;
    gap: 10%;
}

.conteiner ul{
    margin-top: 2%;
}

.conteiner .redes-sociais img{
margin-right: 20px;
}

.conteiner .li{
    margin: 10px 0;
}

#nav-list2{
    list-style: none;
    margin-top: 2%;
}

.nav-item2 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

